.sectionThreeAbout-ImgBlock img{
    width: 100%;
    max-height: 640px;
}


/* Section  Four */

.sectionFourContainer-About{
    margin: 60px 110px; 
    overflow: hidden;  
}

.sec4-history{
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 4px;
    margin-bottom: 50px;
}

.sectionFourFullYear{
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    /* opacity: 0.5; */
}

.sectionFourAbout-HistoryBlock{
    margin: 0px 100px;
    margin-bottom: 60px;
    position: relative;
    display: flex;
    align-items: center;
    width: 257px;
    border: 1px solid black;
    /* opacity: 0.5; */
    /* overflow: hidden; */
}


.year-container{
    display: flex;
    /* transform: translateX(-0%); */
    align-items: center;
    /* justify-content: center;
    text-align: center; */
    
}
.year-container h1{
    margin: 10px 50px;
    font-size: 55px;
    cursor: pointer;
}

.companyImg{
    display: flex;
    overflow: hidden;
}

.companyImage-container{
    position: relative;
    width: 530px;
    height: 653px;
    /* overflow: hidden; */
}

.company-images{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* transition: transform 0.4s ease-in-out; */
    /* transform: translateY(-1346px); */
}

.company-images img{
    min-height: 100%;
    min-width: 100%;
    margin-bottom: 20px;
    
}


.icon-container-About{
    margin-left: 120px;
    margin-bottom: 100px;
}

.icon-container-About i{
    font-size: 35px;
    color: brown;
    margin-right: 40px;
}

/* .icon-sentence-container-About{
    position: relative;
    height: 180px;
} */


.sentence-container-main-about{
    position: relative;
    display: flex;
    /* align-items: center; */
    width: 640px;
    height: 220px;
    overflow: hidden;
    /* border: 2px red solid; */
    margin-left: 120px;
}

.sentence-Container-About{
    align-items: center;
    /* margin-left: 150px; */
    /* transform: translateY(-220px); */
    
}



.sentence-Container-About h1{
    font-family: 'Roboto', sans-serif;
    font-size: 43px;
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: 800;
    
    padding: 20px 0px;
}

.prev , .next{
    cursor: pointer;
}


@media screen and (min-width:1230px) and (max-width:1460px) {
    .sectionFourContainer-About{
        margin: 60px 70px;  
    }

    .sec4-history{
        margin-bottom: 30px;
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }

    .companyImage-container{
    position: relative;
    width: 490px;
    height: 580px;
    }

    .company-images img{
        min-height: 100%;
        min-width: 100%;
        margin-bottom: 0px;
        
    }

    .icon-container-About{
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        width: 640px;
        height: 190px;
        margin-left: 70px;
    }
    
    .sentence-Container-About h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 35px;
        line-height: 45px;
        font-weight: 600;
        max-width: 575px;
    }


}

@media screen and (min-width:1080px) and (max-width:1231px) {
    .sectionFourContainer-About{
        margin: 60px 40px;  
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }

    .companyImage-container{
    position: relative;
    min-width: 400px;
    height: 500px;
    overflow: hidden;
    }

    .company-images{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .company-images img{
        min-height: 100%;
        height: 100%;
        min-width: 100%;
        margin-bottom: 0px;
        
    }

    .icon-container-About{
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        max-width: 640px;
        height: 190px;
        margin-left: 70px;
    }
    
    .sentence-Container-About h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        line-height: 45px;
        font-weight: 600;
        width: 540px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:975px) and (max-width:1081px) {
    .sectionFourContainer-About{
        margin: 60px 40px;  
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }


    .companyImage-container{
        position: relative;
        min-width: 400px;
        height: 500px;
        overflow: hidden;
        }
    
        .company-images{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    
        .company-images img{
            min-height: 100%;
            height: 100%;
            min-width: 100%;
            margin-bottom: 0px;
            
        }

    .icon-container-About{
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        max-width: 500px;
        height: 140px;
        margin-left: 70px;
    }
    
    .sentence-Container-About h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 23px;
        line-height: 35px;
        font-weight: 600;
        width: 470px;
        letter-spacing: 1px;
    }
}

@media screen and (min-width:785px) and (max-width:976px) {
    .sectionFourContainer-About{
        margin: 60px 40px;  
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }


    .companyImage-container{
        position: relative;
        min-width: 330px;
        height: 450px;
        overflow: hidden;
        }
    
        .company-images{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    
        .company-images img{
            min-height: 100%;
            height: 100%;
            min-width: 100%;
            margin-bottom: 0px;
            
        }

    .icon-container-About{
        margin-left: 70px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        max-width: 500px;
        height: 140px;
        margin-left: 70px;
    }
    
    .sentence-Container-About h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 35px;
        font-weight: 600;
        width: 320px;
        letter-spacing: 1px;
    }
}

@media only screen and (min-width:505px) and (max-width:786px) {
    .companyImg{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sectionFourContainer-About{
        margin: 60px 40px;  
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }


    .companyImage-container{
        position: relative;
        min-width: 100%;
        height: 450px;
        overflow: hidden;
        }
    
        .company-images{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    
        .company-images img{
            min-height: 100%;
            height: 100%;
            min-width: 100%;
            margin-bottom: 0px;
            
        }

    .icon-container-About{
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        width:100%;
        height: 120px;
        margin-left: 0px;
    }
    
    .sentence-Container-About > .h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 35px;
        font-weight: 600;
        width: 100% !important;
        letter-spacing: 1px;
        word-wrap: break-word;
    }

}

@media screen and (max-width:506px) {

    .sec4-history{
    
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        letter-spacing: 4px;
        margin-bottom: 50px;
    }

    .companyImg{
        display: flex;
        overflow: hidden;
        flex-wrap: wrap;
    }

    .sectionFourContainer-About{
        margin: 60px 40px;  
    }

    .sectionFourAbout-HistoryBlock{
        margin: 0px 100px;
        margin-bottom: 60px;
        width: 200px;
    }

    .year-container h1{
        margin: 10px 50px;
        font-size: 35px;
        cursor: pointer;
    }


    .companyImage-container{
        position: relative;
        min-width: 100%;
        height: 450px;
        overflow: hidden;
        }
    
        .company-images{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }
    
        .company-images img{
            min-height: 100%;
            height: 100%;
            min-width: 100%;
            margin-bottom: 0px;
            
        }

    .icon-container-About{
        margin-top: 30px;
        margin-left: 0px;
        margin-bottom: 30px;
    }

    .sentence-container-main-about{
        
        width:100%;
        height: 120px;
        margin-left: 0px;
    }
    
    .sentence-Container-About > .h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        line-height: 35px;
        font-weight: 600;
        width: 100% !important;
        letter-spacing: 1px;
        word-wrap: break-word;
    }

} 

@media screen and (max-width:466px) {


    .sentence-container-main-about{
        
        width:100%;
        height: 145px;
        margin-left: 0px;
    }

    
    
    .sentence-Container-About > .h1{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        line-height: 35px;
        font-weight: 600;
        width: 100% !important;
        letter-spacing: 0px;
        word-wrap: break-word;
    }

} 

