*{
    margin: 0;
}


/* .sectionOne-Container-commercial{
    position: relative;
    height: 650px;
    overflow: hidden;
    display: flex;

}

.mainContainer-Commercial{
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 100%; */
    /* overflow: hidden; */
    /* position: absolute; */
    /* transform: translateY(-1300px); */
/* }

.container1-Commercial{
    display: flex;
    font-family: sans-serif;
    width: 100%;
    height: 650px;
}


.detailsLogoContainer-commercial{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; */
    /* overflow: hidden; */
    /* padding: 70px 80px;
    margin-top: 50px;
}


.imgContainer-Commercial{
    width: 100%;
    height: 650px;
}

.imgContainer-Commercial img{
    width: 100%;
    height: 100%;
}


.detailsLogoContainer-commercial > h2{
    font-weight: 500;
    font-size: 18px; */
    /* letter-spacing: 1px; */
    /* line-height: 28px;
    margin-bottom: 15px;
    text-align: center;
}

.detailsLogoContainer-commercial .span{
    width: 120px;
    height: 2px;
    background-color: brown;
    margin-bottom: 15px;
}



.detailsLogoContainer-commercial > img{
    width: 400px;
}


.btnContainer-commercial{
    position: absolute;
    display: flex;
    bottom: 30px;

}

.btnContainer-commercial > button{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.btnContainer-commercial > button{
    margin-right: 5px;
} 

.btnContainer-commercial .btn1-commercial{
    border: 3px brown solid; 
}

.btnContainer-commercial .btn1-commercial .div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    opacity: 1;
    background-color: brown;
     margin-left: 5px; 
}

.btn2-commercial, .btn3-commercial{
    background-color: white;
}

.btnContainer-commercial .btn2-commercial .div, .btn3-commercial .div {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: brown;
    opacity: 0.5;
    margin: 9px;

}


@media screen and (max-width:1024px) {
    .sectionOne-Container-commercial{
        height: 500px;
    
    }

    .mainContainer-Commercial{
        height: 500px;
    }
    
    .container1-Commercial{
        height: 500px;
    }

    .imgContainer-Commercial{
        height: 500px;
    }
    
    
    .detailsLogoContainer-commercial > h2{
        font-size: 16px;
        line-height: 20px;
    }

    .detailsLogoContainer-commercial .span{
        width: 120px;
        height: 2px;
        background-color: brown;
        margin-bottom: 15px;
    }
    
    
    
    .detailsLogoContainer-commercial > img{
        width: 300px;
    }
}

@media screen and (max-width:800px){

    .sectionOne-Container-commercial{
        position: relative;
        height: 885px;
        overflow: hidden;
        display: flex;
    
    } */

    /* .container1-Commercial2{
        display: none;
    } */

    /* .mainContainer-Commercial{
        display: flex;
        height: 100%;
        width: 100%;
    }
    
    .container1-Commercial{
        flex-direction: column;
        flex-direction: column-reverse;
        height: 100%;
        
    }

    .container1-Commercial21{
        margin-bottom: 0px;
    }

    .detailsLogoContainer-commercial{
        width: 100%;
        padding: 70px 80px;
        margin-top: 0px;
    }

    .detailsLogoContainer-commercial > img{
        width: 400px;
    }
} */



.img-last1{
    height: 724px !important;
    object-fit: cover;
}

.div-class{
    margin-top: 100px !important;
    padding: 4rem !important;
}

@media screen and (max-width:1200px) {
    
}

@media screen and (max-width:768px){
    .div-container-all{
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    .img-last{
        padding: 0px !important;
    }

    .div-class{
        margin-top: 0px !important;
        padding: 4rem;
    }
}





