.sectionFour-MainContainer-commercial{
    padding-left: 120px;
    background-image: url('bengaluruRoadView.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    
}


.sec4-details-commercial{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: sans-serif;
    justify-content: center;
}


.sec4-details-commercial > div{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    
}

.sec4-details-commercial > div > h3{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 10px;
    line-height: 35px;
    margin-right: 10px;
}


.sec4-details-commercial > div > div{
    width: 200px;
    height: 1px;
    background-color: white;
}


.sec4-details-commercial >  h1{
    font-size: 70px;
    line-height: 75px;
    max-width: 500px;
}

@media screen and (max-width:1024px) {

    .sectionFour-MainContainer-commercial{
        padding-left: 90px;
        
    }

    .sec4-details-commercial > div > h3{
        font-size: 22px;
    }
    
    
    

    .sec4-details-commercial >  h1{
        font-size: 50px;
        line-height: 55px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
    }
}

@media screen and (max-width:700px) {

    .sectionFour-MainContainer-commercial{
        padding-left: 40px;
        height: 80vh;
        margin-top: 40px;
        
    }

    .sec4-details-commercial > div > h3{
        font-size: 22px;
    }
    
    
    

    .sec4-details-commercial >  h1{
        font-size: 45px;
        line-height: 55px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        max-width: 300px;
    }

    .sec4-details-commercial{
        justify-content: start;
        padding-top: 90px;
    }
}

@media screen and (max-width:500px) {

    .sectionFour-MainContainer-commercial{
        padding-left: 40px;
        height: 50vh;
        
    }

    .sec4-details-commercial > div > h3{
        font-size: 20px;
        letter-spacing: 3px;
    }

    .sec4-details-commercial > div > div{
        width: 100px;
    }

    .sec4-details-commercial >  h1{
        font-size: 35px;
        line-height: 45px;
        max-width: 300px;
    }
}