.sectionFour-lifeAt{
    width: 100%;
    overflow: hidden;
    margin:100px 0px ;
}

.carousel-indicators > button{
    background-color: brown !important;
}

.imgContainerSec4-lifeAt {
    width: 100%;
    overflow: hidden;
    height: 500px;
    padding: 0px 10px;
    margin-top: 50px;
}

.imgContainerSec4-lifeAt > img{
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
}


@media screen and (max-width:769px) {
    .imgContainerSec4-lifeAt {
        height: 450px;
        padding: 0px 0px;
    }
}

@media screen and (max-width:550px) {
    .imgContainerSec4-lifeAt {
        height: 350px;
        padding: 0px 0px;
    }
}

@media screen and (max-width:450px) {
    .imgContainerSec4-lifeAt {
        height: 300px;
        padding: 0px 0px;
    }
}

@media screen and (max-width:350px) {
    .imgContainerSec4-lifeAt {
        height: 250px;
    }
}



 .img-carousal{
    height: 500px;
 }