*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionFive-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    background-color: rgb(80, 1, 1);
    
}

.sectionFive-sec1{
    margin-left: 120px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    width: 620px;

}

.sectionFive-img1{
    max-width: 700px;
    height: 100vh;
}

.enquire2{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    letter-spacing: 0.15em;
    font-size: 25px;
    margin-bottom: 50px;
}

.btn{
    border: none;
    background-color: rgb(150, 16, 16);
    font-size: 20px;
    padding: 12px 40px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color: rgb(150, 16, 16);
}

input{
    color: grey;
    font-size:18px;
    border: none;
    border-bottom: 1px solid grey;
    /* border-bottom-color: gray; */
    background-color: rgb(80, 1, 1);
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 100%;
}
input:focus{
    outline: none;
}


.input-sec3{
    display: flex;
    align-items: first baseline;
}
.country{
    padding-bottom: 10px;
    width: 100%;
    margin-right: 25px;
}

.property{
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.country,.property{
    color: grey;
    background-color: rgb(80, 1, 1);
    font-size:18px ;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}


@media screen and (max-width:420px){
    .sectionFive-container{
        display: flex;
        margin-top: 35px;
        background-color: rgb(80, 1, 1);
        padding-bottom: 60px;
        
    }

    .sectionFive-sec2{
        display: none;
    }


    /*    */
    .sectionFive-sec1{
        margin:0px 20px;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        width: 100%;
    
    }
    
    .sectionFive-img1{
        max-width: 700px;
        height: 100vh;
    }
    
    .enquire2{
        font-family: 'Inter', sans-serif;;
        color: white;
        letter-spacing: 4px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    /*    */
    
    .btn{
        font-family: 'Inter', sans-serif;
        border: none;
        background-color: rgb(150, 16, 16);
        font-size: 15px;
        padding: 9px 35px;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }
    /*     */
    
    .btn:hover{
        background-color: white;
        color: rgb(150, 16, 16);
    }
    
    input{
        color: grey;
        font-size:14px;
        border: none;
        border-bottom: 1px solid grey;
        /* border-bottom-color: gray; */
        background-color: rgb(80, 1, 1);
        padding: 5px 0px;
        margin-bottom: 20px;
        width: 100%;
    }
    input:focus{
        outline: none;
    }
    
    
    .input-sec3{
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    .country{
        padding-bottom: 10px;
        width: 100%;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    
    .property{
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .country, .property{
        color: grey;
        background-color: rgb(80, 1, 1);
        font-size:14px ;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
    }
}