*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionThree{
margin-top: 90px;
}

.sectionThree-container{
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
}
.projects{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 75px;
}
.sentence-1{
    line-height: 55px;
    font-size: 42px;
    
}

.img-before-container{
    margin:80px 120px;
    display: flex;
    justify-content: space-between;

}

.img-before-container ul{
    display: flex;
}
.img-before-container .ul2{
    padding-right: 300px;
    letter-spacing: 0.2em;
    font-weight: 500;
}

.img-before-container ul li{
    list-style: none;
}

.img-before-container ul li a{
    
    text-decoration: none;
    font-size: 20px;
    color: black;
    line-height: 30px;
}

.img-before-container ul li .luxury1{
    margin-right: 15px;
    padding-right: 15px;
}

.img-before-container ul li .premium1,.plotted1{
    margin: 0px 15px;
    padding: 0px 15px;
}

.img-before-container .ul2 li i{
    font-size: 35px;
    color: #9f1635;
}
.img-before-container .ul2 li a{
    padding-left: 20px;
}

.img-before-container ul li #i3{
    cursor: pointer;
}

.img-before-container ul li #i4{
    display: none;
}

.img-before-container .ul2 .li2:hover #i4{
    display: block;
}

.img-before-container .ul2 .li2:hover #i3{
    display: none;
}

.li2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-container-one{
    display: flex;
    justify-content: space-between;
    padding-left:120px;
    padding-right: 120px;
}

.img-container-one a , .img-container-two a{
    text-decoration: none;
    position: relative;
}

.house-img1,.house-img2,.house-img3{
    max-width: 390px;
    min-height: 400px;
}

.img-container-two{
    display: flex;
    justify-content: space-between;
    padding-left:120px;
    padding-right: 120px;
    margin-top:50px ;
}

.house-img4,.house-img5,.house-img6{
    max-width: 390px;
    min-height: 400px;
}

.house-img7,.house-img8,.house-img9{
    max-width: 390px;
    min-height: 400px;
}

.image-name{
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 17px;
}

.image-details-container {
    position: absolute;
    top: 60%;
    left: 8%;
    color: white;
    margin-bottom: 15px;
}


.image-type-container{
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 15px;

}

.image-type-container i{
    margin-right:15px ;
}

.image-location-container{
    display: flex;
    margin-bottom: 15px;
    font-size: 16px;
    align-items: center;

}

.image-location-container i{
    margin-right:15px ;
}

.iconFive{
    display: flex;
    align-items: center;
    font-size: 30px;

}

.iconFive i{
    margin-right: 25px;
}

.iconFive #id2{
    display: none;
    
}

.iconFive .exploreThree{
    font-size: 15px;
    font-weight: bold;
}


.img1-house-container:hover .iconFive #id2{
    display: flex;
    margin-right: 28.8px;
}

.img1-house-container:hover .iconFive #id1{
    display: none;
}











/* Next div element outside of Section-Three  */

.video-wall{
    font-size: 20px;
    margin: 50px 120px;
    letter-spacing: 4px;
}
