*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionFive-container{
    display: flex;
    justify-content: space-between;
    margin-top: 80px !important;
    background-color: rgb(80, 1, 1);
    
}

.sectionFive-sec1{
    margin-left: 120px !important;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    width: 620px;

}

.sectionFive-img1{
    max-width: 700px;
    height: 100vh;
}

.enquire2{
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    letter-spacing: 0.15em;
    font-size: 25px !important;
    margin-bottom: 50px !important;
}

.btn{
    border: none;
    background-color: rgb(150, 16, 16);
    font-size: 20px !important;
    padding: 12px 40px !important;
    font-weight: 600;
    color: white;
    cursor: pointer;
    width: 150px;
}

.btn:hover{
    background-color: white;
    color: rgb(150, 16, 16);
}

input{
    color: grey;
    font-size:18px;
    border: none;
    border-bottom: 1px solid grey;
    background-color: rgb(80, 1, 1);
    padding: 10px 0px;
    margin-bottom: 30px;
    width: 100%;
}

input:focus{
    outline: none;
}


.input-sec3{
    display: flex;
    align-items: first baseline;
}
.country{
    padding-bottom: 10px;
    width: 100%;
    margin-right: 25px;
}

.property{
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.country,.property{
    color: grey;
    background-color: rgb(80, 1, 1);
    font-size:18px ;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
}




@media screen and (max-width:1280px) {
    .sectionFive-sec1{
        margin-left: 80px !important;
        margin-right: 50px;
        padding-top: 90px !important;
        display: flex;
        flex-direction: column;
        width: 650px !important;
    
    }

    .sectionFive-img1{
        max-width: 600px !important;
        height: 700px !important;
    }
}

@media screen and (max-width:1024px){
    .sectionFive-container{
        display: flex;
        justify-content: space-between;
        margin-top: 20px !important;
        background-color: rgb(80, 1, 1);
        
    }  
    
    .sectionFive-sec1{
        margin-left: 80px !important;
        padding-top: 90px;
        display: flex;
        flex-direction: column;
        width: 600px !important;
    
    }

    .sectionFive-img1{
        max-width: 500px !important;
        height: 650px !important;
    }
}


@media only screen and (min-width:821px) and ( max-width:913px) {

    .sectionFive-container{
        margin-top: 20px !important; 
    }
    
    .sectionFive-sec1{
        margin-left: 30px !important;
        padding-top: 80px !important;
        margin-right: 30px;
    
    }

    .sectionFive-sec2{
        height: 100% !important;
    }

    .sectionFive-img1{
        width:450px ;
        height: 500px !important;
    }

    .enquire2{
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }
    
    .btn{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px !important;
        padding: 10px 20px !important;
        margin-bottom: 70px;
        margin-top: 20px;
        width: 130px !important;
    }
    
    input{
        font-size:15px;
        padding: 5px 0px;
        margin-bottom: 15px;
    }

    .input-sec3{
        display: flex;
        align-items: first baseline;
    }
    
    
    .property, .country{
        font-size: 15px;
        padding: 5px 0px !important;
        margin-bottom: 15px !important;
    }

}


@media only screen and (min-width:769px) and ( max-width:821px) {

    .sectionFive-container{
        margin-top: 20px !important; 
    }
    
    .sectionFive-sec1{
        margin-left: 30px !important;
        padding-top: 80px !important;
        margin-right: 30px;
    
    }

    .sectionFive-sec2{
        height: 100% !important;
    }

    .sectionFive-img1{
        width:400px ;
        height: 500px !important;
    }

    .enquire2{
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }
    
    .btn{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px !important;
        padding: 10px 20px !important;
        margin-bottom: 70px;
        margin-top: 20px;
        width: 130px !important;
    }
    
    input{
        font-size:15px;
        padding: 5px 0px;
        margin-bottom: 15px;
    }

    .input-sec3{
        display: flex;
        align-items: first baseline;
    }
    
    
    .property, .country{
        font-size: 15px;
        padding: 5px 0px !important;
        margin-bottom: 15px !important;
    }

}


@media only screen and (min-width:542px) and ( max-width:769px) {

    .sectionFive-container{
        margin-top: 20px !important; 
    }
    
    .sectionFive-sec1{
        margin-left: 30px !important;
        padding-top: 80px !important;
        margin-right: 30px;
    
    }

    .sectionFive-sec2{
        height: 100% !important;
    }

    .sectionFive-img1{
        width:100% ;
        height: 500px !important;
    }

    .enquire2{
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }
    
    .btn{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px !important;
        padding: 10px 20px !important;
        margin-bottom: 70px;
        margin-top: 20px;
        width: 130px !important;
    }
    
    input{
        font-size:15px;
        padding: 5px 0px;
        margin-bottom: 15px;
    }

    .input-sec3{
        display: flex;
        align-items: first baseline;
    }
    
    
    .property, .country{
        font-size: 15px;
        padding: 5px 0px !important;
        margin-bottom: 15px !important;
    }

}


@media only screen and (min-width:421px) and ( max-width:541px) {

    .sectionFive-container{
        margin-top: 20px !important; 
    }
    
    .sectionFive-sec1{
        margin-left: 20px !important;
        padding-top: 80px !important;
        margin-right: 20px;
    
    }

    .sectionFive-img1{
        display: none;
    }

    .enquire2{
        font-size: 20px !important;
        margin-bottom: 40px !important;
    }
    
    .btn{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px !important;
        padding: 10px 20px !important;
        margin-bottom: 70px;
        margin-top: 20px;
        width: 130px !important;
    }
    
    input{
        font-size:15px;
        padding: 5px 0px;
        margin-bottom: 15px;
    }

    .input-sec3{
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    
    
    .property, .country{
        font-size: 15px;
        padding: 5px 0px !important;
        margin-bottom: 15px !important;
    }

}


@media screen and (max-width:420px){
    .sectionFive-container{
        display: flex;
        margin-top: 35px;
        background-color: rgb(80, 1, 1);
        padding-bottom: 60px;
        
    }

    .sectionFive-sec2{
        display: none;
    }


    /*    */
    .sectionFive-sec1{
        margin:0px 20px !important;
        padding-top: 60px !important;
        display: flex;
        flex-direction: column;
        /* width: 100%; */
    
    }
    
    .sectionFive-img1{
        max-width: 700px;
        height: 100vh;
    }
    
    .enquire2{
        font-family: 'Inter', sans-serif;
        color: white;
        letter-spacing: 4px;
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 40px;
    }

    /*    */
    
    .btn{
        font-family: 'Inter', sans-serif;
        border: none;
        background-color: rgb(150, 16, 16);
        font-size: 15px;
        padding: 9px 35px;
        font-weight: 600;
        color: white;
        cursor: pointer;
    }
    /*     */
    
    .btn:hover{
        background-color: white;
        color: rgb(150, 16, 16);
    }
    
    input{
        color: grey;
        font-size:14px;
        border: none;
        border-bottom: 1px solid grey;
        background-color: rgb(80, 1, 1);
        padding: 5px 0px;
        margin-bottom: 20px;
        width: 100%;
    }
    input:focus{
        outline: none;
    }
    
    
    .input-sec3{
        display: flex;
        flex-direction: column;
        align-items: first baseline;
    }
    .country{
        padding-bottom: 10px;
        width: 100%;
        margin-right: 25px;
        margin-bottom: 20px;
    }
    
    .property{
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .country, .property{
        color: grey;
        background-color: rgb(80, 1, 1);
        font-size:14px ;
        border: none;
        border-bottom: 1px solid grey;
        outline: none;
    }
}